# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/

# VS Code settings
.vscode/

# Logs
*.log

# Testing / cache
.pytest_cache/
.mypy_cache/

# OS files
.DS_Store
Thumbs.db

# Build / packaging
build/
dist/
*.egg-info/